/* Booking History Container */
.booking-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.booking-history h1 {
  font-size: 46px;
  color: #fefdfd;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
  text-align: center;
  background-color: rgba(11, 11, 11, 0.6);
}

/* History List */
.history-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 900px;
}

.history-item {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}

.history-item p {
  font-size: 20px;
  margin: 6px 0;
}

.history-item strong {
  color: #fcfbfb;
}
