/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('https://images5.alphacoders.com/380/380057.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Page */
.main-page {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
}

/* Title Styles */
.main-page h1 {
  font-size: 72px;
  margin-bottom: 130px;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.7);
}

.main-page h2 {
  font-size: 50px;
  color: #dcdde1;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* Welcome Text */
.main-page p {
  font-size: 40px;
  color: #dcdde1;
  margin-bottom: 20px;
}

/* Call-To-Action Button */
.main-page button {
  font-size: 28px;
  padding: 15px 40px;
  background: linear-gradient(45deg, #ff4757, #f53b57);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #ff4757, 0px 0px 20px #f53b57;
  transition: all 0.3s ease;
}

/* Button Hover Effect */
.main-page button:hover {
  background: linear-gradient(45deg, #e84118, #c0392b);
  transform: scale(1.1);
  box-shadow: 0px 0px 15px #e84118, 0px 0px 30px #c0392b;
}
